<nav class="nav" id='nav'>
    <a class="nav__link" href="{% url 'main' %}">Home</a>
    <a class="nav__link  {% if request.resolver_match.url_name == 'blog' %}active{% endif %}" href="{% url 'blog' %}">Blog</a>
    <a class="nav__link  {% if request.resolver_match.url_name == 'text2' %}active{% endif %}" href="{% url 'text2' %}">Terms &amp; Conditions</a>
    <a class="nav__link  {% if request.resolver_match.url_name == 'text' %}active{% endif %}" href="{% url 'text' %}">Privacy</a>
    <a class="nav__link  {% if request.resolver_match.url_name == 'index' %}active{% endif %}" href="{% url 'services:index' %}">Product</a>
    <a class="nav__link  {% if request.resolver_match.url_name == 'contact' %}active{% endif %}" href="{% url 'contact' %}">Contact Us</a>
</nav>