<nav class="nav" id='nav'>
    <a class="nav__link" href="#" data-scroll="#services">Services</a>
    <a class="nav__link" href="#" data-scroll="#clients">Clients</a>
    <a class="nav__link" href="#" data-scroll="#benefits">Benefits</a>
    <a class="nav__link" href="#" data-scroll="#team">Team</a>
    <a class="nav__link" href="#" data-scroll="#mission">Mission</a>
    <a class="nav__link" href="{% url 'services:index' %}">Products</a>
    <a class="nav__link" href="{% url 'contact' %}">Contact Us</a>

    {% if user.is_authenticated %}
    <div class="nav-item  dropdown  nav__link--drop">
        <a class="nav__link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{ user.first_name|default:'Пользователь' }}
            <span class="caret"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'auth:edit' %}">{{ "профиль"|upper }}</a>
            {% comment %}
            <a class="dropdown-item" href="{% url 'order:orders_list' %}">{{ "Кабинет заказов"|upper }}</a>
            {% endcomment %}
            <!-- For testing purposes only -->
            <a class="dropdown-item" href="#">{{ "Кабинет заказов"|upper }}</a>
            <!-- /.For testing purposes only -->
        </div>
    </div>
    {% endif %}

    {% if user.is_superuser %}
        <a class="nav__link" href="{% url 'admin:users' %}">Admin</a>
    {% endif %}

    {% if user.is_authenticated %}
        <a class="nav__link" href="{% url 'auth:logout' %}">Logout</a>
    {% else %}
        <a class="nav__link" href="{% url 'auth:login' %}">Login</a>
    {% endif %}

    <a class="nav__link" href="#">
        <img class="search__img" src="/static/img/loupe_n.svg" alt="">
    </a>

    <a class="nav__link" href="{% url 'basket:view' %}">
        <img class="basket__img" src="/static/img/shopping-cart_n.svg" alt="">
        <span class="basket__count">
            {% if basket %} 
                {{ basket.0.total_cost|floatformat:0 }} руб ({{ basket.0.total_quantity }} шт) 
            {% endif %}
        </span>
    </a>

</nav>