<nav class="nav" id='nav'>
    <a class="nav__link" href="{% url 'main' %}">Home</a>
    <a class="nav__link  {% if request.resolver_match.url_name == 'blog' %}active{% endif %}" href="{% url 'blog' %}">Blog</a>
    <a class="nav__link  {% if request.resolver_match.url_name == 'text2' %}active{% endif %}" href="{% url 'text2' %}">Terms &amp; Conditions</a>
    <a class="nav__link  {% if request.resolver_match.url_name == 'text' %}active{% endif %}" href="{% url 'text' %}">Privacy</a>
    <a class="nav__link  {% if request.resolver_match.namespace == 'services' %}active{% endif %}" href="{% url 'services:category' pk=0 %}">Product</a>
    <a class="nav__link  {% if request.resolver_match.url_name == 'contact' %}active{% endif %}" href="{% url 'contact' %}">Contact Us</a>

    {% if user.is_authenticated %}
        <a class="nav__link" href="{% url 'auth:edit' %}">
            {{ user.first_name|default:'User' }}
        </a>
    {% endif %}

    {% if user.is_authenticated %}
        <a class="nav__link" href="{% url 'auth:logout' %}">Logout</a>
    {% else %}
        <a class="nav__link" href="{% url 'auth:login' %}">Login</a>
    {% endif %}

    <a class="nav__link" href="#">
        <img class="search__img" src="/static/img/loupe_n.svg" alt="">
    </a>

    <a class="nav__link" href="{% url 'basket:view' %}">
        <img class="basket__img" src="/static/img/shopping-cart_n.svg" alt="">
        <span class="basket__count">
            {% if basket %} {{ basket|length }} {% endif %}
        </span>
    </a>
</nav>