<nav class="nav" id='nav'>
    <a class="nav__link" href="#" data-scroll="#services">Services</a>
    <a class="nav__link" href="#" data-scroll="#clients">Clients</a>
    <a class="nav__link" href="#" data-scroll="#benefits">Benefits</a>
    <a class="nav__link" href="#" data-scroll="#team">Team</a>
    <a class="nav__link" href="#" data-scroll="#mission">Mission</a>
    <a class="nav__link" href="{% url 'services:index' %}">Products</a>
    <a class="nav__link" href="{% url 'contact' %}">Contact Us</a>

    {% if user.is_authenticated %}
        <a class="nav__link" href="{% url 'auth:edit' %}">
            {{ user.first_name|default:'User' }}
        </a>
    {% endif %}

    {% if user.is_authenticated %}
        <a class="nav__link" href="{% url 'auth:logout' %}">Logout</a>
    {% else %}
        <a class="nav__link" href="{% url 'auth:login' %}">Login</a>
    {% endif %}

</nav>