{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="categories_list">
    <a class="btn__admin  bg-primary  text-white  new__category" href="{% url 'admin:category_create' %}" role="button">новая категория</a>

    {% for object in objects %}
    <div class="category_record {% if not object.is_active %}not_active{% endif %}">
        <div class="category_name">
            {{ object.name|title }}
        </div>
        <div class="category_actions">
            <a class="btn__admin  bg-warning text-dark" href="{% url 'admin:products' object.pk %}" role="button">товары категории</a>
            <a class="btn__admin  text-success" href="{% url 'admin:category_update' object.pk %}" role="button">редактировать</a>
            <a class="btn__admin  text-danger" href="{% url 'admin:category_delete' object.pk %}" role="button">удалить</a>
        </div>
        <div class="category_desc">
            {{ object.description|title }}
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}