{% extends 'adminapp/base.html' %}
{% load staticfiles %}


{% block content %}
<div class="product_read">
    <div class="product_name">
        Продукт<strong>{{ object.category.name|title }} / {{ object.name|title }}</strong>
    </div>
    <img src="/media/{{ object.image|default:'products_images/default.jpg' }}" alt="{{ object.name }}">
    <div class="summary">
        <b>цена</b>
        <p>{{ object.price }} руб</p>
        <b>количество</b>
        <p>{{ object.quantity }}</p>
        <b>в каталоге</b>
        <p>{% if object.is_active %}да{% else %}нет{% endif %}</p>
        <p>
            <a class="btn__admin  product-btn__reed  bg-warning  text-dark" href="{% url 'admin:product_update' object.pk %}" role="button">редактировать</a>
            <a class="btn__admin  product-btn__reed   text-danger" href="{% url 'admin:product_delete' object.pk %}" role="button">удалить</a>
            <a class="btn__admin  product-btn__reed   text-dark" href="{% url 'admin:products' object.category.pk %}">назад</a>
        </p>
    </div>
    <div class="product_desc">
        <b>краткая информация</b>
        <p>{{ object.short_desc }}</p><br><br>
        <b>подробная информация</b>
        <p>{{ object.description }}</p>
    </div>
</div>
{% endblock content %}