{% extends 'mainapp/base.html' %}
{% load staticfiles %}


{% block menu %}
    {% include 'mainapp/includes/inc_firstmenu.html' %}
{% endblock menu %}
    

{% block content %}
    <!-- Intro-->
    <div class="intro" id="intro">

        <!-- Slick Slider-->
        <div class="intro__slider" id="introSlider">
            <div class="slider-item">
                <div class="intro__slider-item" style="background-image: url(/static/img/intro-bg.jpg)"></div>
            </div>
            <div class="slider-item">
                <div class="intro__slider-item" style="background-image: url(/static/img/intro-bg_2.jpg)"></div>
            </div>
            <div class="slider-item">
                <div class="intro__slider-item" style="background-image: url(/static/img/intro-bg_3.jpg)"></div>
                </div>
        </div><!-- .intro__slider -->
    
        <div class="container">
    
            <div class="intro__inner">
                <div class="request-form request-form--intro" data-aos="fade-right">
                    <div class="request-form__header">
                        <h3 class="request-form__title">Get Callback</h3>
                        <div class="request-form__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</div>
    
                        <div class="request-form__content">
                            <form class="form" action="/" method="post">
                                <div class="form__group">
                                    <input class="input input--user" type="text" placeholder="Your name">
                                    <input class="input input--tel" type="tel" placeholder="Your phone">
                                    <input class="input input--email" type="email" placeholder="Your email">
                                </div>
                                <button class="btn btn--block btn--orange" type="submit">    <span>Call me back</span>
                                </button>
                            </form>
                        </div><!--./request-form-->
                    </div>
                </div>
    
                <div class="intro__text" data-aos="fade-left">
                    <div class="intro__countries">USA, Europe, Asia</div>
                    <h1 class="intro__title">
                        <span class="intro__title-amp">&amp;</span>
                        Trans <br>Logistic
                    </h1>
                </div>
    
                <div class="intro__slider--arrows">
                    <button class="intro__slider-btn  intro__slider-btn--prev" id="introSliderPrev" type="button">Prev</button>
                    <button class="intro__slider-btn  intro__slider-btn--next" id="introSliderNext"  type="button">Next</button>
                </div>
    
            </div><!--/.intro__inner-->
    
        </div><!--/.container-->
    </div> <!--/.intro-->
    
    
    <!-- Services -->
    <section class="section" id="services" data-scrollspy="#services">
        <div class="container">
            <div class="services">
                <h2 class="services__main-title">Services</h2>

                {% for caterory in caterories %}
                <div class="services__item" data-aos="fade-in" data-aos-delay="">
                    <h4 class="services__title">{{ caterory.name_long }}</h4>
                    <div class="services__text">
                        <p>{{ caterory.desc_category }}</p>
                    </div>
                    <div class="services__footer">
                    <a class="services__link" href="/services/">Lern more</a>
                    </div>
                </div>
                {% endfor %}
    
    
            </div><!-- /.services -->
        </div><!-- /.container -->
    </section>
    
    
    <!-- Clients -->
    <section class="section section--map" id="clients" data-scrollspy="#clients">
        <div class="container">
            <h2 class="section__title"><span class="section__title-blue">Our</span> clients</h2>
    
            <div class="clients">
    
                <div class="clients__logos">
                    <ul class="cliens__list">
                        <li data-aos="fade-right" data-aos-delay="50">
                            <a href="#" target="_blank">
                                <img class="clients__list-logo img" src="/static/img/clients/atica.svg" alt="">
                            </a>
                        </li>
                        <li data-aos="fade-right" data-aos-delay="100">
                            <a href="#" target="_blank">
                                <img class="clients__list-logo img" src="/static/img/clients/hex-lab.svg" alt="">
                            </a>
                        </li>
                        <li data-aos="fade-right" data-aos-delay="150">
                            <a href="#" target="_blank">
                                <img class="clients__list-logo img" src="/static/img/clients/amara.svg" alt="">
                            </a>
                        </li>
                        <li data-aos="fade-right" data-aos-delay="200">
                            <a href="#" target="_blank">
                                <img class="clients__list-logo img" src="/static/img/clients/muzica-2.svg" alt="">
                            </a>
                        </li>
                        <li data-aos="fade-right" data-aos-delay="300">
                            <a href="#" target="_blank">
                                <img class="clients__list-logo img" src="/static/img/clients/solaytic.svg" alt="">
                            </a>
                        </li>
                        <li data-aos="fade-right" data-aos-delay="400">
                            <a href="#" target="_blank">
                                <img class="clients__list-logo img" src="/static/img/clients/hexa.svg" alt="">
                            </a>
                        </li>
                        <li data-aos="fade-right" data-aos-delay="500">
                            <a href="#" target="_blank">
                                <img class="clients__list-logo img" src="/static/img/clients/utosia-2.svg" alt="">
                            </a>
                        </li>
                        <li data-aos="fade-right" data-aos-delay="500">
                            <a href="#" target="_blank">
                                <img class="clients__list-logo img" src="/static/img/clients/fox-hub.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div><!-- /.clients__logos -->
    
                <div class="clients__reviews">
                    <div class="reviews"  id="rewiewsSlider">
                        <div class="reviews__item">

                            <div class="reviews__header">
                                <img class="reviews__photo" src="https://placehold.it/100" alt="">
                                <div class="reviews__header-main">
                                    <div class="reviews__name">John Smith</div>
                                    <div class="reviews__company">FOX Hub CEO</div>
                                </div>
                            </div>
                            <div class="reviews__content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam veritatis ab consectetur aliquam corporis sequi dolore maxime eaque magnam! Laborum eligendi necessitatibus porro officia, dicta deserunt commodi! Vel, nisi, aspernatur!</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam veritatis ab consectetur aliquam corporis sequi dolore maxime eaque magnam! Laborum eligendi necessitatibus porro officia, dicta deserunt commodi! Vel, nisi, aspernatur!</p>
                            </div>
                            
                        </div><!-- ./reviews__item -->
                        <div class="reviews__item">
                            <div class="reviews__header">
                                <img class="reviews__photo" src="https://placehold.it/100" alt="">
                                <div class="reviews__header-main">
                                    <div class="reviews__name">John Smith</div>
                                    <div class="reviews__company">FOX Hub CEO</div>
                                </div>
                            </div>
                            <div class="reviews__content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam veritatis ab consectetur aliquam corporis sequi dolore maxime eaque magnam! Laborum eligendi necessitatibus porro officia, dicta deserunt commodi! Vel, nisi, aspernatur!</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam veritatis ab consectetur aliquam corporis sequi dolore maxime eaque magnam! Laborum eligendi necessitatibus porro officia, dicta deserunt commodi! Vel, nisi, aspernatur!</p>
                            </div>
                        </div><!-- ./reviews__item -->
                    </div><!-- ./reviews -->
                </div><!-- ./clients__reviews -->
    
            </div><!-- /.clients -->
    
            <button class="btn btn--orange btn--shadow" href="#" type="button" data-modal= "#becomeClientModal"><span>Become a client</span></button>
            <span class="client-love">we love our clients</span>
    
        </div><!-- /.container -->
    </section>
    
    
    <!-- Benefits -->
    <section class="section" id="benefits" data-scrollspy="#benefits">
        <div class="container">
            <h2 class="section__title"><span class="section__title-blue">Our</span> benefits</h2>
            <div class="benefits">
                <div class="benefits_col">

                    <ul class="benefits-list">
                        {% for benefits in benefits_list %}
                            <li class="benefits-list__item" data-aos="fade-down">
                                <h4 class="benefits-list__title">{{ benefits.title }}</h4>
                                <div class="benefits-list__text">
                                    <p>{{ benefits.desc }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul><!-- /.benefits_col -->
                    
                </div>
                <div class="benefits_col">
                    <img class="img" src="/static/img/benefits_photo.jpg" alt="">
                </div>
            </div><!-- /.benefits -->
        </div><!-- /.container -->
    </section>
    
    
    <!-- Team -->
    <section class="section section--gray" id="team" data-scrollspy="#team">
        <div class="container">
            <h2 class="section__title"><span class="section__title-blue">Our</span> team</h2>
    
            <div class="team">
                
                {% for person in team %}
                    <div class="team__col">
                        <div class="team__items" data-aos="fade-in">
                            <img class="team__photo img" src="{{ media_url }}{{ person.photo }}" alt="{{ person.full_name }}">
                            <div class="team__name">{{ person.full_name }}</div>
                            <div class="team__prof">{{ person.profession }}</div>
                            <ul class="taem__contacts">
                                <li>
                                    <img class="taem__contacts-icon" src="/static/img/icon-mail-black.svg" alt="Email">
                                    <a href="mailto:{{ person.email }}">{{ person.email }}</a>
                                </li>
                                <li>
                                    <img class="taem__contacts-icon" src="/static/img/tel.svg" alt="Phone">
                                    <a href="tel:{{ person.phone }}">{{ person.phone }}</a>
                                </li>
                            </ul>
                        </div><!-- /.team__items -->
                    </div><!-- /.team__col -->
                {% endfor %}
    
            </div><!-- /.team -->
        </div><!-- /.container -->
    </section>
    
    
    <!-- Mission -->
    <section class="section" id="mission" data-scrollspy="#mission">
        <div class="container">
            <h2 class="mission-title">Our mission</h2>
            <div class="mission"  data-aos="fade-up" data-aos-duration=1250>
                <h3 class="mission__title">To provide our customer qualified services according the international</h3>
                <h4 class="mission__subtitle">Book your Cargo now &amp; Your job just got a lot easier</h4>
            </div>
            <div class="text-center">
                <button class="btn btn--orange btn--shadow" type="button" data-modal= "#becomeClientModal"><span>Become a client</span></button>
            </div>
        </div>
    </section>
    
    
    <!-- News -->
    <section class="section section--last" id="news" data-scrollspy="#news">
        <div class="container">
            <h2 class="section__title"><span class="section__title-blue">Interesting</span> to read</h2>
    
            <div class="articles">
                
                {% for item in news %}
                    <article class="articles__item"  data-aos="fade-in">
                        <h4 class="articles__title">
                            <a href="{% url 'blog' %}">{{ item.title }}</a>
                        </h4>
                        <div class="articles__text">
                            <p>{{ item.text }}</p>
                        </div>
                        <time class="articles_date" pubdate="21-03-2019 19:00">{{ item.public_date }}</time>
                    </article><!-- /.news__item -->
                {% endfor %}
           
            </div><!-- /.articles -->
    
            <a class="btn btn--orange btn--shadow" href="/blog/"><span>Visit blog</span></a>
    
        </div><!-- /.container -->
    </section>
{% endblock content %}
