{% extends 'mainapp/base.html' %}
{% load staticfiles %}


{% block menu %}
    {% include 'mainapp/includes/inc_secondmenu.html' %}
{% endblock menu %}

    
{% block content %}
    <!-- Services Intro -->
    <div class="intro intro--services" id="intro">
    
    </div>

    
    <!-- Content -->
    <section class="section section--gray" id="team" data-scrollspy="#team">
        <div class="container">
            {% include 'mainapp/includes/inc_categories_menu.html' %}

            <h2 class="section__title"><span class="section__title-blue">Our</span> car fleet</h2>
    
            <div class="team  intro__services">


                <!-- Detailed Service -->
                <div class="product__box">

                    <div class="product__left">
                        <img class="team__photo  img  services__photo" src="{{ media_url }}{{ service.image }}" alt="{{ service.name }}">
                    </div>

                    <div class="product__right">
                        <div class="product__name">{{ service.name }}</div>
                        <div class="team__prof">{{ service.description }}</div>
                        <div class="intro__services-lifting">
                            <img class="intro__services-icon" src="/static/img/lifting_auto.svg" alt="">
                            <p class="intro__services-text">{{ service.lifting }}</p>
                        </div>
                        <div class="wrap__btn  btn--hot">
                            <a class="btn btn--block btn--orange btn--order" href="{% url 'basket:add' service.pk %}" type="button"><span>order</span></a>
                        </div>    
                    </div>

                </div><!-- /.team__col -->
            </div><!-- /.team -->

            <div class="wrapper_popular">
                <h2 class="popular_services">Popular goods</h3>

                <div class="team  intro__services">


                    {% for service in popular %}
                        <div class="team__col">
                            <div class="team__items  services__items" data-aos="fade-in">
                                <img class="team__photo  img  services__photo" src="{{ media_url }}{{ service.image }}" alt="{{ service.name }}">
                                <div class="team__name">{{ service.name }}</div>
                                <div class="team__prof">{{ service.description }}</div>
                                <div class="intro__services-lifting">
                                    <img class="intro__services-icon" src="/static/img/lifting_auto.svg" alt="">
                                    <p class="intro__services-text">{{ service.lifting }}</p>
                                </div>
                                <div class="wrap__btn">
                                    <a class="btn btn--block btn--orange btn--order" href="{% url 'basket:add' service.pk %}" type="button"><span>order</span></a>
                                </div>
                            </div><!-- /.team__items -->
                        </div><!-- /.team__col -->
                    {% endfor %}
        
                </div><!-- /.team -->
            </div>

        </div><!-- /.container -->
    </section>
{% endblock content %}

