{% extends 'mainapp/base.html' %}
{% load staticfiles %}


{% block menu %}
    {% include 'mainapp/includes/inc_secondmenu.html' %}
{% endblock menu %}

    
{% block content %}
    <!-- Services Intro -->
    <div class="intro intro--services" id="intro">
    
    </div>

    
    <!-- Content -->
    <section class="section section--gray" id="team" data-scrollspy="#team">
        <div class="container">
            {% include 'mainapp/includes/inc_categories_menu.html' %}

            <h2 class="section__title"><span class="section__title-blue">Our</span> car fleet</h2>
    
            <div class="team  intro__services">

                <!-- Hot price -->
                <div class="team__col">
                    <div class="team__items  services__items" data-aos="fade-in">
                        <img class="team__photo  img  services__photo" src="{{ media_url }}{{ hot_services.image }}" alt="{{ hot_services.name }}">
                        <div class="team__name">{{ hot_services.name }}</div>
                        <div class="team__prof">{{ hot_services.description }}</div>
                        <div class="intro__services-lifting">
                            <img class="intro__services-icon" src="/static/img/lifting_auto.svg" alt="">
                            <p class="intro__services-text">{{ hot_services.lifting }}</p>
                        </div>
                        <div class="hot_price">
                            <h3 class="red">горячее предложение</h3>
                        </div>
                        <div class="wrap__btn">

                            {% if user.is_authenticated %}
                                <a class="btn btn--block btn--orange btn--order" href="{% url 'basket:add' service.pk %}" type="button"><span>order</span></a>
                                {% else %}
                                    <a class="btn btn--block btn--orange btn--order" href="{% url 'auth:login' %}" type="button"><span>order</span></a>
                                    {% endif %}

                        </div>
                    </div><!-- /.team__items -->
                </div><!-- /.team__col -->

                <!-- {% for service in same_services %}
                    <div class="team__col">
                        <div class="team__items  services__items" data-aos="fade-in">
                            <img class="team__photo  img  services__photo" src="{{ media_url }}{{ service.image }}" alt="{{ service.name }}">
                            <div class="team__name">{{ service.name }}</div>
                            <div class="team__prof">{{ service.description }}</div>
                            <div class="intro__services-lifting">
                                <img class="intro__services-icon" src="/static/img/lifting_auto.svg" alt="">
                                <p class="intro__services-text">{{ service.lifting }}</p>
                            </div>
                            <div class="wrap__btn">

                                {% if user.is_authenticated %}
                                    <a class="btn btn--block btn--orange btn--order" href="{% url 'services:service' service.pk %}" type="button"><span>order</span></a>
                                    {% else %}
                                        <a class="btn btn--block btn--orange btn--order" href="{% url 'auth:login' %}" type="button"><span>order</span></a>
                                        {% endif %}
    
                            </div>
                        </div><!-- /.team__items -->
                    </div><!-- /.team__col -->
                {% endfor %} -->
    
            </div><!-- /.team -->
        </div><!-- /.container -->
    </section>
{% endblock content %}

