{% extends "mainapp/services.html" %}
{% load staticfiles %}

{% block content %}
<!-- Services Intro -->
<div class="intro intro--services" id="intro">
    
</div>

<div class="section section--gray">
    <div class="container">
        {% include "mainapp/includes/inc_categories_menu.html" %}

        <div class="services_list">
            <div class="title">
                <h2>Категория: "{{ category.name|title }}"</h2>
                <div class="paginator">
                    {% if services.has_previous %}
                    <a href="{% url 'services:page' category.pk services.previous_page_number %}"><i
                            class="fas fa-chevron-circle-left"></i></a>
                    {% endif %}
                    <span class="current">
                        страница {{ services.number }} из {{ services.paginator.num_pages }}
                    </span>
                    {% if services.has_next %}
                    <a href="{% url 'services:page' category.pk services.next_page_number %}"><i
                            class="fas fa-chevron-circle-right"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="category-services">

                {% for service in services %}
                <div class="team__col">
                    <div class="team__items  services__items" data-aos="fade-in">
                        <img class="team__photo  img  services__photo" src="{{ media_url }}{{ service.image }}" alt="{{ service.name }}">
                        <div class="team__name">{{ service.name }}</div>
                        <div class="team__prof">{{ service.description }}</div>
                        <div class="intro__services-lifting">
                            <img class="intro__services-icon" src="/static/img/lifting_auto.svg" alt="">
                            <p class="intro__services-text">{{ service.lifting }}</p>
                        </div>
                        <div class="wrap__btn">

                            {% if user.is_authenticated %}
                                <a class="btn btn--block btn--orange btn--order" href="{% url 'services:service' service.pk %}" type="button"><span>order</span></a>
                                {% else %}
                                    <a class="btn btn--block btn--orange btn--order" href="{% url 'auth:login' %}" type="button"><span>order</span></a>
                                    {% endif %}

                        </div>
                    </div><!-- /.team__items -->
                </div><!-- /.team__col -->
                {% endfor %}
            </div>
        </div>
    </div>

    
</div>

{% endblock %}