<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.min.css">
    
    <!-- Useful meta tags -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow, noodp">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    
    <title>CenterLogistic</title>
    

</head>
<body>


<div class="page">
    <!--Header-->
    <header class="header" id="header">
        <div class="container">
            <div class="header__inner">
                <a href="#" data-scroll="#intro">
                    <img class="img" src="/static/img/logo.svg" alt="CenterLogistic">
                </a>
                <nav class="nav" id='nav'>
                    <a class="nav__link" href="/">Home</a>
                    <a class="nav__link" href="/blog/">Blog</a>
                    <a class="nav__link" href="/text/">Ptivacy Policy</a>
                    <a class="nav__link" href="/text2/">Terms &amp; Conditions</a>
                </nav>
    
                <button class="burger" type="button" id="navToggle">
                    <span class="burger__line">1</span>
                    <span class="burger__line">2</span>
                    <span class="burger__line">3</span>
                    <span class="burger__line">4</span>
                </button>
    
            </div><!--./header__inner-->
        </div><!--./container-->
    </header>

    <!--Content-->
    <div class="content">
        
        
        <!-- Intro -->
        <div class="intro intro--text" id="intro">
        
        </div>
        
        <!-- Text -->
        <section class="section  section--last">
            <div class="container">
                <h1 class="section__title"><span class="section__title-blue">Terms</span> &amp; Conditions</h1>
        
                <div class="text">
        
                    <p>It is a long <a href="#">established</a> fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy).</p>
        
                    <p>
                        <img src="https://placehold.it/1500x300" alt="">
                    </p>
        
                    <h3>Some subtitle</h3>
        
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, remaining essentially unchanged. It was popularised in the 1960s.</p>
        
                    <ul>
                        <li>- unordered list item</li>
                        <li>- unordered list item</li>
                    </ul>
        
                    <hr>
        
                    <h4>Some subtitle</h4>
        
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
        
                    <ol>
                        <li>ordered list item</li>
                        <li>ordered list item</li>
                    </ol>
        
                </div><!-- /.text -->
        
                <a class="btn btn--orange" href="/">
                    <span>Back to home</span>
                </a>
        
            </div><!-- /.container -->
        </section>
        
    </div>

    <!--Footer-->
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <img src="/static/img/logo-black.svg" alt="">
            <address class="footer__contacts">
                <p>New York, Street, ZIP code</p>
                <p>
                Call Us: <a href="tel:+9948373123">+9948373123</a> or E-mail:
                <a href="mailto:hello@centerlogistic.com">hello@centerlogistic.com</a>
                </p>
            </address>
    
            <nav class="footer__nav">
                <a href="#">Terms &amp; Contidions</a>
                <a href="/text/">Privacy Policy</a>
                <a href="/blog/">Our blog</a>
            </nav>
        </div>
    </footer>
</div>

<!--Modal-->

<!--BecomeModal-->
<div class="modal" id="becomeClientModal">
    <div class="modal__inner">
        <div class="modal__content">
            <div class="modal__header">
                <h4 class="modal__title">Need to deliver your cargo?
                We can help!</h4>
                <div class="modal__text">
                    <p>Fill a little form and we will call you back!</p>
                </div>
            </div>

            <form class="form" action="/" method="post">
                <div class="form__group">
                    <input class="input input--dark input--user" type="text" placeholder="Your name">
                    <input class="input input--dark input--tel" type="tel" placeholder="Your phone">
                    <input class="input input--dark input--email" type="email" placeholder="Your email">
                </div>
                <button class="btn btn--block btn--orange" type="submit">    <span>Call me back</span>
                </button>
            </form>

            <div class="modal__footer">
                <h4 class="modal__footer-title">Our contacts</h4>
                <address class="modal__contacts">
                    <p>New York, Street, ZIP code</p>
                    <p>Phone: <a href="tel:+9948373123">+9948373123</a></p>
                    <p>E-mail: <a href="mailto:hello@centerlogistic.com">hello@centerlogistic.com</a></p>
                </address>
            </div>

            <button class="modal__close" type="button" data-modal-close>
               <img src="/static/img/close.svg" alt="Close">
            </button>
        </div><!-- /.modal__content -->

    </div><!--/.modal__inner-->
</div><!--/.becomeModal-->


<!--ThanksModal-->
<div class="modal" style="display: none" id="thanksModal">
    <div class="modal__inner">

        <div class="modal__header">
            <img class="modal__icon" src="/static/img/tick.svg" alt="">
            <h4 class="modal__title">Thanks for your request</h4>
            <div class="modal__text">
                <p>We call you back as soon as possible!</p>
            </div>
        </div>

        <div class="modal__footer">
            <h4 class="modal__footer-title">Our contacts</h4>
            <address class="modal__contacts">
                <p>New York, Street, ZIP code</p>
                <p>Phone: <a href="tel:+9948373123">+9948373123</a></p>
                <p>E-mail: <a href="mailto:hello@centerlogistic.com">hello@centerlogistic.com</a></p>
            </address>
        </div>

        <button class="modal__close" type="button">
           <img src="/static/img/close.svg" alt="Close">
        </button>


    </div><!--/.modal__inner-->
</div><!--/.thanksModal-->

<!-- Javascript -->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.0.slim.min.js"></script>
<script src="/static/js/app.js"></script>

</body>
</html>
